// COLORS
$primary-color: #f95246;
$secondary-color: #291428;
$tertiery-color: #ff8656;
$white-color: #fdefce;
$dark-blue-text: #272341; // For Headings
$dark-grey: #333333;

$primary-color: #899878;
$secondary-color: #fcca46;
$tertiery-color: #fe7f2d;
$white-color: #e4e6c3;
$dark-blue-text: #ffffff; // For Headings

$primary-color: #f9edcc;
$secondary-color: #ff9f1c;
$tertiery-color: #edae49;
$white-color: #ea2b1f;
$dark-blue-text: #ffffff; // For Headings
$dark-grey: #61210f;


$primary-color: #fe5f55;
$secondary-color: #f0b67f;
$tertiery-color: #c7efcf;
$white-color: #eef5db;
$dark-blue-text: #f0b67f; // For Headings
$dark-grey: #474448;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
